<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CoursesDaoMapper">
	<resultMap type="com.tuzhi.app.pojo.CoursesInfo" id="resultCourses"/>
	
	<!-- 查询我的课程  userid＝－1查询所有课程  -->
	<select id="getMyCourses" parameterType="map" resultMap="resultCourses">
		select c.*,ct.name ctname,acu.cnt study_num from app_courses c
			 left join app_courses_type ct on c.courses_type_id=ct.id
			 left join(
			           select cu.courses_id,COUNT(*) cnt from app_courses_user cu group by cu.courses_id
			          )acu on c.id=acu.courses_id
			 where 1=1 
 			<if test=" user_id !='-1'.toString() "> 
		  		 <if test="title !=null and title !='' ">
					and c.name=#[title]
				 </if>
			</if>	 
		order by c.create_time desc
	</select>
	
	<!-- 查询课程详细  -->
	<select id="getCourseDetails" parameterType="map" resultMap="resultCourses">
		select cl.code,cl.title,cl.class_url,cl.time,ch.code chcode,ch.title chtitle,cr.content crcontent from app_class cl 
		  left join app_chapter_class chl on cl.id=chl.class_id
		  left join app_chapter ch on chl.chapter_id=ch.id
		  left join app_courses_chapter cc on ch.id=cc.chapter_id
		  left join app_courses cr on cc.courses_id=cr.id
		  where 1=1 
	  		 <if test="course_id !=null and course_id !='' ">
				and cr.id=#[course_id]
			 </if>
	</select>
	
</mapper>